@charset "utf-8";

html, body {
  color: #504a46;
  font-family: 'brandon_grotesque_regularRg','Georgia',serif;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  min-height: 100%;
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
}

header {
  height: 60px;
  position: fixed;
  z-index: 2;
  background-color: #F3F0F0;
  font-family: brandon_grotesque_regularRg;
  a{
    text-decoration: none;
  }
}

hgroup {
  position: fixed;
  font-size: 24px;
  top: 10px;
  left: 35px;
  a{
    color: #504a46;
  }
  a:hover{
    color:#363636;
  }
}

.navigation {
  position: fixed;
  right: 35px;
  z-index: 1;
  top: -3px;
  li {
    color: #504A46;
    display: inline-block;
    padding: 0 10px;
    line-height: 30px;
    margin-bottom: 2px;
    font-weight: bold;
    -webkit-transition: (cursor, color) .2s ease-in-out;
    text-align: center;
    width: 71px;
    &:hover {
      cursor: pointer;
      color: #363636;
    }
  }
}

.active {
  color: #afafaf;
  text-transform: uppercase;
  cursor: pointer;
  &:hover{
    color: #504A46;
  }
}

.mephoto {
  position: fixed;
  left: 50%;
  margin-left: -223px;
  z-index: 1;
  width: 214px;
  height: 200px;
  border-radius: 100px;
  opacity: .7;
}

.slide {
  background-attachment: fixed;
  width: 100%;
  height: 100%;
  position: relative;
  border-bottom: 5px solid #DAD7D7;
}

.wrapper {
  width: 960px;
  height: 200px;
  margin: 0 auto;
  position: relative;
}

.slideno {
  position: absolute;
  bottom: 0px;
  left: 0px;
  font-size: 100px;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.3);
}

.button {
  display: block;
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: 0px;
  left: 50%;
  background-color: #D4D4D4;
  background-image: url(image_path('arrow.png'));
  &:hover {
    background-color: #494949;
    cursor: pointer;
  }
}

/******************************
 SLIDE 1 
*******************************/

#slide1 {
  background-color: #F3F0F0;
}

/******************************
 SLIDE 2 
*******************************/

#slide2 {
  background-color: #EC6F66;
  img {
    &:first-child {
      position: absolute;
      top: 700px;
      left: -150px;
    }
    &:nth-child(2) {
      position: absolute;
      top: 300px;
      left: 100px;
    }
    &:nth-child(3) {
      position: absolute;
      top: 600px;
      left: 300px;
    }
    &:nth-child(4) {
      position: absolute;
      top: 400px;
      left: 300px;
    }
    &:nth-child(5), &:nth-child(6) {
      position: absolute;
      top: 600px;
      right: 300px;
    }
    &:nth-child(7) {
      position: absolute;
      top: 400px;
      right: 100px;
    }
    &:nth-child(8) {
      position: absolute;
      top: 100px;
      right: 300px;
    }
  }
}

/******************************
 SLIDE 3 
*******************************/

#slide3 {
  background-color: #71BFB0;
  img {
    &:first-child {
      position: absolute;
      top: 700px;
      left: 300px;
    }
    &:nth-child(2) {
      position: absolute;
      top: 100px;
      left: 100px;
    }
    &:nth-child(3) {
      position: absolute;
      top: 150px;
      left: 300px;
    }
    &:nth-child(4) {
      position: absolute;
      top: 450px;
      left: 300px;
    }
    &:nth-child(5) {
      position: absolute;
      top: 200px;
      right: 300px;
    }
    &:nth-child(6) {
      position: absolute;
      top: 100px;
      right: 300px;
    }
  }
}

#slide4 {
  background-color: #BA9FE5;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  .parallaxbg {
    position: absolute;
    right: 40px;
    top: 40px;
    font-size: 28px;
    color: rgba(51, 51, 51, 0.3);
  }
}